@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .top {
    padding-top: 147px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .top__head {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }

  .top__text {
    line-height: 20px;
    font-size: 16px;
    text-align: center;
  }

  .top__link {
    margin-top: 36px;
    width: 285px;
    height: 55px;
    font-size: 16px;
  }

  .top__star-big {
    width: 223px;
    height: 238px;
    right: -90px;
    top: -100px;
  }

  .top__star-big1,
  .top__star-big2,
  .top__star-big3,
  .top__star-big4,
  .top__star-big5 {
    display: none;
  }

  .top__star-green1 {
    right: 86px;
    top: 557px;
  }

  .top__star-green2 {
    left: 37px;
    top: 97px;
  }

  .top__star-trans1 {
    left: 91px;
    top: 64px;
  }

  .top__star-trans2 {
    top: 580px;
    right: 34px;
  }
  .about__star {
    display: none;
  }

  .about {
    display: none;
  }
}
